<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Crimson+Text:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="../assets/js/page-initializers.js" defer></script>
    <title>Alle Blogposts - Sub specie aeternitatis</title>
</head>
<body>
    <div class="container-fluid header-section">
        <h1 class="main-title">Blogposts</h1>
        <p class="description">Aktuelle Beiträge der letzten 3 Monate</p>
        <hr class="header-divider">
    </div>
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="content-area">
                    <div class="posts-header">

                    </div>
                    
                    <div id="blogPostsList">
                        <div class="loading-spinner">
                            <div class="spinner"></div>
                            <p>Lade Blogposts...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="navigation text-center mt-4">
            <a href="/" class="btn btn-outline-primary">Zur Startseite</a>
            <a href="/blogpost/create" class="btn btn-outline-success ml-2 create-link" style="display: none;">Neuen Blogpost erstellen</a>
            <a href="/blogpost/archive" class="btn btn-outline-secondary ml-2">Archiv</a>
        </div>
    </div>
    <script src="../assets/js/common.js" type="module"></script>
    <script src="../assets/js/admin.js" type="module"></script>

</body>
</html>
